<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.authors[page.author].name }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <style>
        @font-face { font-family: linja; src: url('../assets/fonts/linja-pona-4.9.otf'); }
    </style>

    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/{{ site.favicon.png }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/{{ site.favicon.ico }}">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/{{ site.favicon.png }}">

    <!-- MORE -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:image" itemprop="image" content="{{ site.baseurl }}/assets/images/{{ site.favicon.png }}">
    <meta property="og:type" content="website">

    <!-- STATISTICS -->
    {{ site.statistics }}
    {% seo title=false %}
</head>

<body id="top" tabIndex=0>

    <!-- HEADER -->

    <header>
        {% if page.show-logo != false and page.logo and page.logo.position == "top" %}
        <div class="header-logo">
            <a href="{{ site.baseurl }}/"
                style="background-image: url('{{ site.baseurl }}/assets/images/{{ page.logo.url }}'); {% if page.logo.width %}width: {{ page.logo.width }}; height: {{ page.logo.width }}; background-size: {{ page.logo.width }} {{ page.logo.width }};{% endif %}">
                {{ site.title }}
            </a>
        </div>
        {% else %}
            {% unless page.logo %}
                {% if page.show-logo != false and site.logoo and site.logoo.position == "top" %}
                <div class="header-logo">
                    <a href="{{ site.baseurl }}/"
                        style="background-image: url('{{ site.baseurl }}/assets/images/{{ site.logoo.url }}'); {% if site.logoo.width %}width: {{ site.logoo.width }}; height: {{ site.logoo.width }}; background-size: {{ site.logoo.width }} {{ site.logoo.width }};{% endif %}">
                        {{ site.title }}
                    </a>
                </div>
                {% endif %}
            {% endunless %}
        {% endif %}

        {% if page.links-side != false %}
        <a id="menu-button">
            <span class="header-menu-text">MENU</span>
            <span class="header-menu-icon"></span>
        </a>
        {% endif %}

        <nav id="nav">
            <a class="close-button" title="Close"><span></span></a>
            <h3><a href="{{ site.baseurl }}/" title="Homepage">{{ site.title }}</a></h3>

            <ul class="nav-list">
                {% for item in site.links-side %}
                <li>
                    {% if item.url %}<a href="{{ item.url }}" title="{{ item.name }}" {% if item.newtab %}target="_blank"{% endif %}>{% endif %}
                        {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                        {{ item.name }}
                    {% if item.url %}</a>{% endif %}
                </li>
                {% endfor %}

                {% for item in page.links-home %}
                    {% if item.show-side != false %}
                    <li>
                        {% if item.url %}<a href="{{ item.url }}" title="{{ item.name }}" {% if item.newtab %}target="_blank"{% endif %}>{% endif %}
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            {{ item.name }}
                        {% if item.url %}</a>{% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

    </header>

    <!-- HOME -->

    {% if page.show-home != false %}
    <section id="home" style="background-image: url('{{ site.baseurl }}/assets/images/{% if page.image %}{{ page.image }}{% else %}default-bg.jpg{% endif %}');">
        <div class="overlay"></div>
        <div class="gradient-overlay"></div>
        <div class="home-content-table">
            <div class="home-content-tablecell">
                <div class="row">
                    <div class="col-twelve">
                        <div class="home-bottom-text">

                            {% if page.show-logo != false and page.logo and page.logo.position != "top" %}
                                <div style="text-align: {{ page.logo.position }}; height: 30vh; display: grid; align-content: center;">
                                    <a href="{{ site.baseurl }}/" title="Homepage">
                                        <img src="{{ site.baseurl }}/assets/images/{{ page.logo.url }}" width="{% if page.logo.width %}{{ page.logo.width }}{% else %}150px{% endif %}" />
                                    </a>
                                    <br>
                                    <br>
                                </div>
                            {% else %}
                                {% unless page.logo %}
                                    {% if page.show-logo != false and site.logoo and site.logoo.position != "top" %}
                                        <div style="text-align: {{ site.logoo.position }};">
                                            <a href="{{ site.baseurl }}/" title="Homepage">
                                                <img src="{{ site.baseurl }}/assets/images/{{ site.logoo.url }}" width="{% if site.logoo.width %}{{ site.logoo.width }}{% else %}150px{% endif %}" />
                                            </a>
                                            <br>
                                            <br>
                                        </div>
                                    {% elsif page.show-logo != false %}
                                        <div style="height: 30vh; display: grid; align-content: center;"></div>
                                    {% endif %}
                                {% endunless %}
                            {% endif %}

                            <h3>{{ page.pretitle }}</h3>
                            <h1>{{ page.title }}</h1>
                            <h2>{{ page.description }}</h2>

                            <ul class="links-home">
                                {% for item in page.links-home %}
                                    {% if item.show-home != false %}
                                    <li>
                                        {% if item.url %}<a href="{{ item.url }}" title="{{ item.name }}" class="text" {% if item.newtab %}target="_blank" {% endif %}>{% endif %}
                                            {{ item.name }}
                                            {% if item.icon %}<span><i class="{{ item.icon }}"></i></span>{% endif %}
                                        {% if item.url %}</a>{% endif %}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <!-- MAIN -->

    <section id="main" {% if page.show-main == false %}style="display: none;"{% endif %}>
        <div class="overlay"></div>
        <div class="gradient-overlay"></div>
        <div class="row narrow">
            <div class="col-content">
                <div class="section-intro">
                    {{ content }}
                </div>
                <!-- <div class="section-intro">
                    <h3>
                        <i class="fa fa-user-tie"></i>
                    </h3>
                    <h4>
                        <em>Author: I&Lambda;CO VIV&Lambda;CI</em>
                        <br>
                        <em>Special Guest(s): Katlen Carvalho</em>
                        <br>
                        Contributor(s): Aaron @aaron
                        <br>
                        Editor: Someone Here
                    </h4>
                    <h3>
                        <i class="fa fa-tags"></i>
                    </h3>
                    <h4>
                        <em>Categories: Category Prime, Second One</em>
                        <br>
                        Tags: #abc #tagexample
                    </h4>
                </div> -->
            </div>
        </div>
    </section>

    <!-- LINKS GALLERY -->

    {% for item in page.links-gallery %}
    <section class="links-gallery">
        <div class="links-gallery-wrap">
            <a href="{{ site.baseurl }}{{ item.left.url }}" {% if item.left.newtab %}target="_blank"{% endif %}>
                <div class="links-gallery-bg-1" style="background-image: url('{{ site.baseurl }}/assets/images/{{ item.left.image }}');"></div>
                <div class="links-gallery-1">
                    <div class="intro">
                        <h4>{{ item.left.name }}</h4>
                    </div>
                </div>
            </a>
            <a href="{{ site.baseurl }}{{ item.right.url }}" {% if item.right.newtab %}target="_blank"{% endif %}>
                <div class="links-gallery-bg-2" style="background-image: url('{{ site.baseurl }}/assets/images/{{ item.right.image }}');"></div>
                <div class="links-gallery-2">
                    <div class="intro">
                        <h4>{{ item.right.name }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endfor %}

    {% if page.previous or page.next %}
    <section class="links-gallery">
        <div class="links-gallery-wrap">
            {% if page.previous.url %}
                {% assign left = page.previous %}
            {% else %}
                {% assign left = site.posts[0] %}
            {% endif %}
            <a href="{{ site.baseurl }}{{ left.url }}">
                <div class="links-gallery-bg-1" style="background-image: url('{{ site.baseurl }}/assets/images/{{ left.image }}');"></div>
                <div class="links-gallery-1">
                    <div class="intro">
                        <h4>{{ left.title }}</h4>
                    </div>
                </div>
            </a>
            {% if page.next.url %}
                {% assign right = page.next %}
            {% elsif page.previous.url == site.posts[1].url %}
                {% assign right = site.posts[2] %}
            {% else %}
                {% assign right = site.posts[1] %}
            {% endif %}
            <a href="{{ site.baseurl }}{{ right.url }}">
                <div class="links-gallery-bg-2" style="background-image: url('{{ site.baseurl }}/assets/images/{{ right.image }}');"></div>
                <div class="links-gallery-2">
                    <div class="intro">
                        <h4>{{ right.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endif %}

    <!-- FOOTER -->

    {% if page.links-footer != false %}
    <footer>
        <div class="row">
            <div class="col-twelve tab-full">
                <ul class="footer-social">
                    {% for item in page.links-footer %}
                    <li>
                        <a href="{{ item.url }}" {% if item.newtab %}target="_blank"{% endif %}>
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-twelve tab-full">
                <div>
                    <span>
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        &copy;
                        <script>
                            document.write(document.location.host)
                        </script>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}

    <!-- GO TOP -->

    {% if page.show-corner != false %}
    <div id="corner">
        {% if page.show-notif != false %}
        <div id="dark-bg"></div>
        <script>
            function compareColors(left, right) {
                var dummy = $('<div/>');

                $(dummy).css('color', left);
                var adjustedLeft = $(dummy).css('color');

                $(dummy).css('color', right);
                var adjustedRight = $(dummy).css('color');

                return adjustedLeft == adjustedRight;
            }

            function notifRead() {
                document.cookie = "inotif=" + new Date().getTime() + "; max-age=3000111";
                $('.pulsating-circle').hide();
                $('#button-notif').toggleClass("active");
                $('#button-notif i').toggleClass("far fa-comment-alt");
                $('#button-notif i').toggleClass("fa fa-times");
            }
        </script>
        <a id="button-notif" onclick="notifRead(); $('#notif').toggle(); $('#go-top').toggle(); $('#dark-bg').toggle(); $('body').css({ overflow: ($('body').css('overflow') == 'hidden' ? 'auto' : 'hidden') });" title="Notifications">
            <div class="pulsating-circle"></div><i class="far fa-comment-alt"></i>
        </a>
        {% endif %}
        <a id="go-top" title="Back to Top" href="#top"><i class="fa fa-arrow-up fa-sm"></i></a>
        <!-- <script>
            document.addEventListener('DOMContentLoaded', function() {
                if (document.cookie.split('; ').find(row => row.startsWith('inotif=')).split('=')[1] > 0) {
                    $('.pulsating-circle').hide();
                }
            }, false);
        </script> -->
        <div id="notif">
            This is just a message to test how it will display in the corner of the screen of my website and let's see!
            <br>
            {% include btn
                url="/instagram"
                newtab=true
                class="button-primary"
                icon="fab fa-instagram fa-lg"
                text="Follow @rotaract_eclub"
            %}
            I like to see how it will display if the text is really really big enourmously big hahahah
            <br>
            I like to see how it will display if the text is really really big enourmously big hahahahI like to see how it will display if the text is really really big enourmously big hahahahI like to see how it will display if the text is
            really really big enourmously big hahahahI like to see how it will display if the text is really really big enourmously big hahahah
            <br>
            I like to see how it will display if the text is really really big enourmously big hahahahI like to see how it will display if the text is really really big enourmously big hahahahI like to see how it will display if the text is
            really really big enourmously big hahahahI like to see how it will display if the text is really really big enourmously big hahahahI like to see how it will display if the text is really really big enourmously big hahahahI like to see
            how it will display if the text is really really big enourmously big hahahah
        </div>
    </div>
    {% endif %}

    <!-- JS -->

    <script>
        var i, list = document.querySelectorAll("blockquote, h1, h2, h3, h4, h5, h6, p, a, li, img, hr, pre, code, .timeline-block, .item-wrap, .form-field, .video-wrapper");
        for (i = 0; i < list.length; ++i) {
            list[i].classList.add('animate-this');
        }

        $.expr[':'].external = function(obj){ return (obj.hostname != location.hostname) && obj.href.startsWith("http"); };
        $('a:external').attr('target', '_blank');

        $('tok').each(function() { $(this).attr('title', $(this).text()); });
    </script>
    <script src="{{ site.baseurl }}/assets/js/plugins.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>
