---
title: "You are being redirected..."
layout: redirect
permalink: "/redirect.html"
---

<!DOCTYPE HTML>

{% if page.redirect %}
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
        <script type="text/javascript"> window.location.href = "{{ page.redirect }}" </script>
    </head>
    <body>
        If you are not redirected automatically, click this <a href="{{ page.redirect }}">link</a>.
    </body>
</html>

{% else %}

<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="refresh" content="0; url=https://iaco.me">
        <script type="text/javascript"> window.location.href = "https://iaco.me" </script>
    </head>
    <body>
        If you are not redirected automatically, click on <a href="https://iaco.io">this link</a>.
    </body>
</html>

{% endif %}
